@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-size:62.5%;
        scroll-behavior:smooth;
        
    }

    .container{
        padding:1rem 2rem;
        margin-inline:auto;
    }
    @media screen and (min-width:700px) {
        .container{
            padding-inline:4rem;
        }
    }
    @media screen and (min-width:900px) {
        .container{
            padding-inline:6rem;
        }
    }
    @media screen and (min-width:1200px) {
        .container{
            padding-inline:10rem;
        }
    }
}


@layer utilities{
    .ourService:hover{
        transition:all 0.5s ease;
        transform:translateY(-0.5rem);
    }
}